* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    -webkit-box-sizing: border-box;

    box-sizing: border-box;
    color: white;
    font-family: 'Roboto', sans-serif;
    background-color: #24242b;
    font-weight: 300;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

ul {
    margin: 40px 80px 0 0;
}

li {
    list-style: none;
}



nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
    border-bottom: 1px solid #d9c892;
}

header {

    height: 100vh;
    background-image: url("img/tlo_zmaska77.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.header_cont {
    height: calc(100% - 59px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.basis50 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.logo {
    width: 40%;
    padding: 80px;
}

.right {
    text-align: right;
    padding: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}

h1 {
    margin-bottom: 100px;
    margin-right: 40px;
    font-size: 48px;
    border-bottom: 5px solid #d9c892;
    font-weight: 300;
}


#about,
#career {
    background-color: #d9c892;
}

#about h2,
#career h2 {
    color: white;
}

#whyus {
    background-color: white;
}

#whyus a {
    background-color: #d9c892;
    padding: 20px;
    color: white;
    text-decoration: none;
}

#whyus a:hover {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(245, 225, 159, 1);
}

h2 {
    text-align: center;
    color: #24242b;
    padding-top: 50px;
    font-size: 30px;

}

#about p,
#whyus p,
#career p {
    text-align: center;
    color: white;
    padding: 20px 0 20px 0;
    font-size: 20px;
    padding: 50px;
}

#whyus p {
    color: black;
}

.whyus_cont {

    padding-bottom: 20px;
}



.whyus_right {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}









#contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}

.contact_left {

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contact_left p {
    padding: 40px;
}

.form {
    width: 40%;
}

form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;

}

.contact_right {

    -webkit-box-pack: center;

    -ms-flex-pack: center;

    justify-content: center;
    padding: 40px;

}

input[type="text"],
textarea {
    width: 100%;
    padding: 5px
}



input {
    margin-bottom: 5px;
}

input[type="submit"] {
    width: 30%;
    -webkit-appearance: none;
    font-size: 16px;
    padding: 10px;
    background-color: #d9c892;
    display: block;
    color: white;
}

input[type="submit"]:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(245, 225, 159, 1);
}

.toggle {
    text-align: right;
    font-size: 24px;
    padding: 20px;
    display: none;
}

@media handheld {
    header {
        background-attachment: scroll;
    }
}

@media (max-width: 1440px) {
    h1 {
        font-size: 44px;
    }

    .logo {
        width: 50%;
    }

    .form {
        width: 45%;
    }
}

@media (max-width: 1200px) {
    h1 {
        font-size: 38px;
    }

    .logo {
        width: 50%;
    }

    .right {
        padding: 40px;
    }

    .form {
        width: 50%;
    }
}



@media (max-width: 968px) {
    h1 {
        font-size: 29px;
    }

    .logo {
        width: 60%;
    }

    .form {
        width: 60%;
    }

    input[type="submit"] {
        width: 40%;
    }
}



@media (max-width: 768px) {



    header {
        background-image: url("img/tlo_zmaska77_resp.jpg");
        background-attachment: scroll;
        background-size: cover;



    }

    header::after {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        display: block;
        background: url("img/tlo_zmaska77_resp.jpg") no-repeat 50% 50%;
        background-size: cover;
    }

    .toggle {
        display: block;
    }

    nav a {
        padding: 5px;
    }

    .whyus_right {
        padding-bottom: 20px;
    }

    li {
        padding: 5px;
    }

    ul {
        height: 100%;
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;

    }

    .hidemenu {
        display: none;
    }

    .header_cont {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    h1 {
        padding: 0;
        font-size: 28px;
        margin: 0;
    }

    .left {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .logo {
        width: 40%;
        padding: 0;
    }

    .right {
        padding: 0;
        margin: 0;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .whyus_cont {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    #contact {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }


    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (orientation: landscape) and (max-width: 768px) {
    .logo {
        width: 30%;
    }
}

@media (max-width: 576px) {
    .logo {
        width: 50%;
    }
}

@media (orientation: landscape) and (max-width: 576px) {
    .logo {
        width: 25%;
    }
}